body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
}
#navbar li{
    display: inline-block;
    padding-left: 3vh;
}
#logo{
    width: 30px;
}
li a{
    text-decoration: none;
    color: inherit;
}
section{
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 30px;
    height: 100vh;
}
#Home{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position-y: 50%;
}
#content{
    width: 21vw;
}
h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2vh;
}
h2{
    margin-bottom: 2vh;
}
.button{
    background-color:mediumturquoise;
    color: white;
    border:none;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}
.button:hover{
    
}